version: '3.8'
services:
  innosistemas:
    build:
      context: ./innosistemas  
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    depends_on:
      - kafka
    environment:
      - PROJECT_URL=${PROJECT_URL}
      - PROJECT_USERNAME=${PROJECT_USERNAME}
      - PROJECT_PASSWORD=${PROJECT_PASSWORD}
      - spring.kafka.bootstrap-servers=kafka:9092  
    networks:
      - monitoring
    

  
  notifications:
    build:
      context: ./notifications  
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    depends_on:
      - kafka
    environment:
      - SENDGRID_API_KEY=${SENDGRID_API_KEY}
      - spring.kafka.bootstrap-servers=kafka:9092
    networks:
      - monitoring

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_NODE_ID: 1
      KAFKA_BROKER_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      CLUSTER_ID: "5L6g3nShT-eMCtK--X86sw"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    networks:
      - monitoring
    volumes:
      - kafka-data:/var/lib/kafka/data

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks:
      - monitoring

networks:
  monitoring:
    external: true

volumes:
  kafka-data: