server:
    port: ${PORT:8080}
spring:
    session:
      store-type: none
    cloud:
        gateway:
            routes:
            - id: authenticator
              uri: ${AUTHENTICATOR_URL:http://localhost:8081}
              predicates:
              - Path=/authenticator/**
              filters:
              - StripPrefix=1
            - id: innosistemas
              uri: ${INNOSISTEMAS_URL:http://localhost:8082}
              predicates:
              - Path=/project/**
            - id: notifications
              uri: ${NOTIFICATIONS_URL:http://localhost:8083}
              predicates:
              - Path=/notifications/**
            globalcors:
                corsConfigurations:
                    '[/**]':
                        allowedOrigins: ${ALLOWED_ORIGINS:http://localhost:5173}
                        allowedMethods:
                            - GET
                            - POST
                            - PUT
                            - DELETE
                            - OPTIONS
                        allowedHeaders: "*"
                        allowCredentials: true

# Actuator configuration
management:
    endpoints:
        web:
            exposure:
                include: health,info
    endpoint:
        health:
            show-details: when-authorized
    health:
        livenessState:
            enabled: true
        readinessState:
            enabled: true
