server:
    port: 8080
spring:
    session:
      store-type: none
    cloud:
        gateway:
            routes:
            - id: authenticator
              uri: http://localhost:8081
              predicates:
              - Path=/authenticator/**
              filters:
              - StripPrefix=1
            - id: innosistemas
              uri: http://localhost:8082
              predicates:
              - Path=/project/**
            globalcors:
                corsConfigurations:
                    '[/**]':
                        allowedOrigins: "http://localhost:5173"
                        allowedMethods:
                            - GET
                            - POST
                            - PUT
                            - DELETE
                            - OPTIONS
                        allowedHeaders: "*"
                        allowCredentials: true
